<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basebackend.wheel.mapper.TaskTemplateMapper">

    <select id="selectActiveTemplates" resultType="com.basebackend.wheel.entity.TaskTemplate">
        SELECT * FROM task_template
        WHERE status = 1
        <if test="periodType != null">
            AND period_type = #{periodType}
        </if>
        ORDER BY difficulty ASC
    </select>

</mapper>
