<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basebackend.wheel.mapper.UserOnlineStatusMapper">

    <resultMap id="BaseResultMap" type="com.basebackend.wheel.entity.UserOnlineStatus">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="is_online" property="isOnline"/>
        <result column="last_active_time" property="lastActiveTime"/>
        <result column="session_id" property="sessionId"/>
        <result column="device_type" property="deviceType"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT *
        FROM user_online_status
        WHERE user_id = #{userId}
    </select>

    <update id="updateOnlineStatus">
        INSERT INTO user_online_status (user_id, is_online, last_active_time,device_type, session_id, create_time, update_time)
        VALUES (#{userId}, #{isOnline}, NOW(), #{sessionId}, NOW(), NOW())
        ON DUPLICATE KEY UPDATE
        is_online = #{isOnline},
        last_active_time = NOW(),
        session_id = #{sessionId},
        update_time = NOW()
    </update>

</mapper>
