<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basebackend.wheel.mapper.UserBehaviorStatsMapper">
  <resultMap id="BaseResultMap" type="com.basebackend.wheel.entity.UserBehaviorStats">
    <!--@mbg.generated-->
    <!--@Table wheel_api.user_behavior_stats-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="stats_date" jdbcType="DATE" property="statsDate" />
    <result column="spin_count" jdbcType="INTEGER" property="spinCount" />
    <result column="usage_duration" jdbcType="INTEGER" property="usageDuration" />
    <result column="preferred_category_id" jdbcType="BIGINT" property="preferredCategoryId" />
    <result column="avg_spin_duration" jdbcType="BIGINT" property="avgSpinDuration" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, stats_date, spin_count, usage_duration, preferred_category_id, avg_spin_duration, 
    create_time, create_by, update_by, update_time, deleted
  </sql>
    <!-- 根据用户ID和日期查询统计数据 -->
    <select id="selectByUserIdAndDate" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM user_behavior_stats
        WHERE user_id = #{userId,jdbcType=BIGINT}
        AND stats_date = #{date,jdbcType=DATE}
    </select>


</mapper>