<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basebackend.wheel.mapper.WheelConfigMapper">
  <resultMap id="BaseResultMap" type="com.basebackend.wheel.entity.WheelConfig">
    <!--@mbg.generated-->
    <!--@Table wheel_api.wheel_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="wheel_radius" jdbcType="INTEGER" property="wheelRadius" />
    <result column="option_count" jdbcType="INTEGER" property="optionCount" />
    <result column="animation_duration" jdbcType="INTEGER" property="animationDuration" />
    <result column="theme_style" jdbcType="BOOLEAN" property="themeStyle" />
    <result column="show_history" jdbcType="BOOLEAN" property="showHistory" />
    <result column="sound_effect" jdbcType="BOOLEAN" property="soundEffect" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="BIGINT" property="createdBy" />
    <result column="update_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, wheel_radius, option_count, animation_duration, theme_style, show_history, 
    sound_effect, create_time, update_time, create_by, update_by, deleted
  </sql>


</mapper>